# Configuración de base de datos local (PostgreSQL)
# --------------------------------------------------
# Rails buscará estos valores gracias a ENV.fetch() en database.yml

# Usuario de tu base de datos local (por defecto suele ser postgres)
POSTGRES_USER=postgres

# Contraseña de tu usuario (coloca la tuya al copiar a .env)
POSTGRES_PASSWORD=

# Configuración opcional si PostgreSQL no corre en localhost o en el puerto 5432
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Configuración del servidor Rails
# --------------------------------------------------
# Cantidad de hilos/conexiones simultáneas (por defecto es 5)
RAILS_MAX_THREADS=5

# Configuración para Producción (NO USAR EN LOCAL)
# --------------------------------------------------
PRODUCTION_DB_PASSWORD=
